.storage_list {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  border-left: solid 2px black;
  border-top: solid 2px black;
}

.storage_item {
  border-right: solid 2px black;
  border-bottom: solid 2px black;
}
